.field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.attention-voice {
	font-size: 1.2rem;
	font-weight: 700;
}

.completed {
	background-color: hhsla(0, 0%, 88%, 1.00);
	opacity: .5;

}
